.img-noFill {
    width: initial !important;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

    .img-noFill img {
        min-height: initial !important;
        min-width: initial !important;
        position: relative;
        display: inline-block;
        max-width: 100%;
    }

.emph {
    font-size:larger; 
    color:#2e4f02
}

.green-background {
    background-color: #5FB759;
}


#quote {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;
    color: white;
    margin: 0 auto;
}

/* Animation */
.typewriter {
    animation: animated-text 4s steps(29,end) 1s 1 normal both, animated-cursor 600ms steps(29,end) infinite;
        /*animated-text-back 4s steps(29, end) 1s steps(1, start) normal both;*/
}

/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 380px;
    }
}

@keyframes animated-text-back {
    from {
        width: 380px;
    }

    to {
        width: 0;
    }
}

/* cursor animations */

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0,255,0,.75);
    }

    to {
        border-right-color: transparent;
    }
}














/*.typewriter {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;
    color: white;
    /*margin: inherit !important;*/
    /*padding: inherit !important;
}


.typewriter {
    animation: animated-text 3s steps(29,end) 1s 1 normal both, animated-cursor 600ms steps(29,end) infinite;
}


@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 700px;
    }
}


@keyframes animated-cursor {
    from {
        border-right-color: rgba(0,255,0,.75);
    }

    to {
        border-right-color: transparent;
    }
}*/

/* The typing effect 
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

 The typewriter cursor effect 
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}*/
