.img-noFill {
    width: initial !important;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

    .img-noFill img {
        min-height: initial !important;
        min-width: initial !important;
        position: relative;
        display: inline-block;
        max-width: 100%;
    }

.emph {
    font-size:larger; 
    color:#2e4f02
}

.green-background {
    background-color: #5FB759;
}

.green-text {
    color: #5FB759;
}
